$g100: #141414;
$g90: #191919;
$g80: #1E1E1E;
$g70: #232323;
$g60: #282828;
$g50: #2D2D2D;
$g40: #323232;
$g30: #373737;
$g20: #3C3C3C;
$g10: #414141;

$primary: rgba(255, 255, 255, 1);
$secondary: rgba(255, 255, 255, .56);
$disabled: rgba(255, 255, 255, .32);

$red: #ff5555;

.bg-g100 {
  background-color: $g100;
}

.secondary {
  color: $secondary;
}