header {
  margin-top: 96px;
  height: 96px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

header span {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-pic {
  height: 24px;
  width: 24px;
}

.header-left {
  margin-right: 30px;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header-middle {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.header-right {
  margin-left: 30px;
  width: 20%;
  display: flex;
  align-items: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav span {
  margin: 11px;
}

nav button {
  margin-left: 11px;
  min-width: 127px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.04), rgba(255, 255, 255, 0.04)), linear-gradient(180deg, rgba(40, 40, 40, 0.7) 0%, #282828 100%), #141414;
}

@media screen and (max-width: 749px) {
  header {
    margin-top: 50px;
    margin-bottom: 40px;
  }
  .header-middle {
    flex-wrap: wrap;
    justify-content: center;
  }
  .header-left, .header-right {
    margin: 0;
  }
}